/* Catppuccin Mocha Palette */
@define-color rosewater       #f5e0dc;
@define-color flamingo        #f2cdcd;
@define-color pink            #f5c2e7;
@define-color mauve           #cba6f7;
@define-color red             #f38ba8;
@define-color maroon          #eba0ac;
@define-color peach           #fab387;
@define-color yellow          #f9e2af;
@define-color green           #a6e3a1;
@define-color teal            #94e2d5;
@define-color sky             #89dceb;
@define-color sapphire        #74c7ec;
@define-color blue            #89b4fa;
@define-color lavender        #b4befe;

@define-color text            #cdd6f4;
@define-color subtext1        #bac2de;
@define-color subtext0        #a6adc8;
@define-color overlay2        #9399b2;
@define-color overlay1        #7f849c;
@define-color overlay0        #6c7086;
@define-color surface2        #585b70;
@define-color surface1        #45475a;
@define-color surface0        #313244;
@define-color base            #1e1e2e;
@define-color mantle          #181825;
@define-color crust           #11111b;

@define-color white           #ffffff;
@define-color black           #000000;

/* Main Theme Colors */
@define-color shadow          shade(@crust, 0.5);
@define-color main-fg         @text;
@define-color main-bg         @crust;
@define-color main-br         @surface0;

@define-color active-bg       @overlay1; /* dunkler als overlay2 für mehr Kontrast */
@define-color active-fg       @text;

@define-color hover-bg        @surface1; /* leicht heller für Hover */
@define-color hover-fg        @text;

/* Module Colors */
@define-color module-fg       @text;
@define-color workspaces      @mantle;

@define-color distro-fg       @;
@define-color distro-bg       @overlay1;

@define-color time            @surface0;
@define-color date            @surface0;
@define-color tray            @base;

@define-color pulseaudio      @mantle;
@define-color backlight       @base;
@define-color battery         @surface0;
@define-color power           @overlay1;

/* State Colors */
@define-color warning         @yellow;
@define-color critical        @red;
@define-color charging        @green;

